*.log
composer.lock
.DS_Store
.idea
index.php
/vendor

###

!/Views
/Views/*
!/Views/User

!/Models
/Models/*
!Models/User.php
!Models/Session.php

!/Controllers
/Controllers/*
!Controllers/Home.php
!Controllers/User.php


